{% extends 'flatpages/default.html' %}
{% load censor_filter %}
{% block title %}
News
{% endblock title %}

{% block content %}
   <h1>Новости</h1>
   <h3>{{ time_now|date:'M d Y' }}</h3>



   <hr>
Количество новостей:{{ news|length }}
   {% if news %}
       <table>
           <tr>
               <td>Заголовок</td>
               <td>Дата публикации</td>
               <td>Содержание</td>
           </tr>

           {% for post in news %}
           <tr>
               <td> <a href="{% url 'post_detail' post.id %}">
                        {{ post.title|censor }}
                    </a>
               </td>
               <td>{{ post.created_at|date:"d.m.Y" }}</td>
               <td>{{ post.content|truncatewords:20|censor }}</td>
           </tr>
           {% endfor %}

       </table>
   {% else %}
       <h2>Новостей нет!</h2>
   {% endif %}
{% endblock content %}